<h1> Please sign up </h1>

<form action='/users' method="post">
    <label for='email'>
        <p> enter email address </p>
    <input type='text' name ='email'>
    </label>
    <label for='password'>
        <p> enter password </p>
    <input name='password' type ='password'>
    </label for "Sign ">
    <input type="submit" value="Sign up">
  </form>